name: DVC Pipeline

on:
  push:
    branches:
      - main

jobs:
  dvc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'  # Укажите нужную версию Python

      - name: Install DVC and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install "dvc[gdrive]"
          pip install pandas

      - name: Check DVC version
        run: |
          dvc --version  # Проверяем версию DVC

      - name: Set up Google Drive credentials
        run: |
          echo "${{ secrets.GDRIVE_CREDENTIALS_DATA }}" > /tmp/gdrive_credentials.json
          dvc remote modify project_2 gdrive_service_account_json_file_path /tmp/gdrive_credentials.json

      - name: Display Google Drive credentials
        run: |
          cat /tmp/gdrive_credentials.json  # Отображаем содержимое файла с учетными данными для проверки

      - name: Run DVC pipeline with debug logs
        run: |
          dvc pull -vvv
          dvc repro -vvv



